.formClass{
    padding: 0%;
    display: block;
    font-size: 20px;
    animation: rainbow-bg 5.5s linear;
    animation-iteration-count: infinite;
    transform-origin: center;
    transition: all 0.5s ease;
    transition-delay: 0s;
}
@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}
.formImage{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    width: auto;
    height: auto;
}
.DivClass{
    display: block;
}
.hiddenClass{
    display: none;
}
.ImageClass{
    width: 200px;
    height: 200px;

}
form{
    border: 2px solid black;
}
