.formClass{
    display: block;
    font-size: 20px;
}
.BodyClass{
    background-color: black;
}
.formImage{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    width: auto;
    height: auto;
}
.DivClass{
    display: block;
}
.hiddenClass{
    display: none;
}
.ImageClass{
    width: 200px;
    height: 200px;

}
.VictoryClass{
    font-size: 20px;
    color: gold;
}
/*form{
    border: 2px solid black;
}*/
